<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.owner.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zy.entities.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="ispay" jdbcType="CHAR" property="ispay" />
    <result column="ischeckin" jdbcType="CHAR" property="ischeckin" />
    <result column="ischeckout" jdbcType="CHAR" property="ischeckout" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="creatorName" jdbcType="VARCHAR" property="creatorname" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, room_id, money, order_date, begin_date, end_date, ispay, ischeckin, 
    ischeckout, createtime, creatorName, memo, modifier, modifytime
  </sql>
  <select id="selectByExample" parameterType="com.zy.entities.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zy.entities.OrderExample">
    delete from tbl_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zy.entities.Order">
    insert into tbl_order (id, user_id, room_id, 
      money, order_date, begin_date, 
      end_date, ispay, ischeckin, 
      ischeckout, createtime, creatorName, 
      memo, modifier, modifytime
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{roomId,jdbcType=INTEGER}, 
      #{money,jdbcType=DOUBLE}, #{orderDate,jdbcType=TIMESTAMP}, #{beginDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{ispay,jdbcType=CHAR}, #{ischeckin,jdbcType=CHAR}, 
      #{ischeckout,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, #{creatorname,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zy.entities.Order">
    insert into tbl_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="ispay != null">
        ispay,
      </if>
      <if test="ischeckin != null">
        ischeckin,
      </if>
      <if test="ischeckout != null">
        ischeckout,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="creatorname != null">
        creatorName,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ispay != null">
        #{ispay,jdbcType=CHAR},
      </if>
      <if test="ischeckin != null">
        #{ischeckin,jdbcType=CHAR},
      </if>
      <if test="ischeckout != null">
        #{ischeckout,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zy.entities.OrderExample" resultType="java.lang.Long">
    select count(*) from tbl_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DOUBLE},
      </if>
      <if test="record.orderDate != null">
        order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.beginDate != null">
        begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ispay != null">
        ispay = #{record.ispay,jdbcType=CHAR},
      </if>
      <if test="record.ischeckin != null">
        ischeckin = #{record.ischeckin,jdbcType=CHAR},
      </if>
      <if test="record.ischeckout != null">
        ischeckout = #{record.ischeckout,jdbcType=CHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorname != null">
        creatorName = #{record.creatorname,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null">
        modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_order
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      room_id = #{record.roomId,jdbcType=INTEGER},
      money = #{record.money,jdbcType=DOUBLE},
      order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      ispay = #{record.ispay,jdbcType=CHAR},
      ischeckin = #{record.ischeckin,jdbcType=CHAR},
      ischeckout = #{record.ischeckout,jdbcType=CHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      creatorName = #{record.creatorname,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      modifytime = #{record.modifytime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.entities.Order">
    update tbl_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ispay != null">
        ispay = #{ispay,jdbcType=CHAR},
      </if>
      <if test="ischeckin != null">
        ischeckin = #{ischeckin,jdbcType=CHAR},
      </if>
      <if test="ischeckout != null">
        ischeckout = #{ischeckout,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorname != null">
        creatorName = #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.entities.Order">
    update tbl_order
    set user_id = #{userId,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER},
      money = #{money,jdbcType=DOUBLE},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      ispay = #{ispay,jdbcType=CHAR},
      ischeckin = #{ischeckin,jdbcType=CHAR},
      ischeckout = #{ischeckout,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creatorName = #{creatorname,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>